*.o
*.ko
*.mod
*.mod.c
*.cmd
.tmp_versions/
Module.symvers
modules.order
*.dtbo
debian/osoyoo-dsi-panel-dkms/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.log
../*.deb
../*.changes
../*.buildinfo
../*.dsc
../*.tar.*
